# Entorno virtual
venv/

# Datos originales y generados

ml_api/dataset_original.csv

# (opcional) Solo ignora los modelos de prueba si los nombras así:
ml_api/model/*_TEST.pkl
ml_api/model/columnas_modelo_TEST.json

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos ocultos del sistema
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Archivos de log
*.log

# VSCode / PyCharm
.vscode/
.idea/
